@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    --light-main: #F6F1F1;
    --light-secondary: #19A7CE;
    --light-third: #146C94;
    --light-fourth: #000000;
    --light-text-main: #F6F1F1;
    --light-text-secondary: #000000;

    --dark-main: #2C3333;
    --dark-secondary: #2E4F4F;
    --dark-third: #0E8388;
    --dark-fourth: #0e8388;
    --dark-text-main: #F6F1F1;
    --dark-text-secondary: #000000;
  }

@media only screen and (max-width: 821px) {
    
    .nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: var(--light-fourth);
        border-bottom: 0px solid var(--light-secondary);
        border-top: 3px solid var(--light-secondary);
        z-index: 1;
        }

    .panel.active .source {
    
        opacity: 1;
        bottom: 70px;
        width: 30%;
        
        }
        
    .panel.active .live {
            
        opacity: 1;
        bottom: 70px;
        width: 30%;
        left: 20px;
        
        }
    .panel.active p {
            
        opacity: 1;
        bottom: 90px;
        width: 90%;
         height: 30%;
        
        }

}

@media only screen and (max-width: 480px) {

    ::-webkit-scrollbar {
        display: none;
    }

    .skills {
        width: 100vw;
    }
        
    .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--light-fourth);
    border-bottom: 0px solid var(--light-secondary);
    border-top: 3px solid var(--light-secondary);
    z-index: 1;
    }

    h1 {
        margin-left: 10px;
        margin-right: 10px;
        width: 90vw;
    }
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),.panel:nth-of-type(5) {
        display: none;
    }

    .panel.active .source {
    
        opacity: 1;
        bottom: 70px;
        width: 30%;
    
    }
    .panel.active .live {
        
        opacity: 1;
        bottom: 70px;
        width: 30%;
        left: 20px;
    
    }
    .panel.active p {
        
        opacity: 1;
        bottom: 90px;
        width: 90%;
        height: 30%;
    
    }

    
  }

@media only screen and (min-width: 480px) {
    .nav {
    border-bottom: 3px solid var(--light-secondary);
    z-index: 1;
    }

    .about-me p {
        font-size: 20px !important;
    }
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw !important;
    font-family: sans-serif;
    overflow-x: hidden;
}


body {
    
    height: 100vh;
    background: var(--light-theme);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw !important;
    max-width: 100vw !important;
}

body.dark-mode {
    background-color: var(--dark-theme);
    color: #ffffff
  }

.nav {
    background: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    max-width: 100vw;
}

.nav .center button {
    color: #ffffff;
    font-size: 28px;
    background: none;
    outline: none;
    border: none;
    padding: 10px 20px;
}

.nav .center button:hover {
    opacity: 0.25;
    color: var(--dark-text);
    font-size: 26px;
    content: attr(data-button);
}


.hero {
    height: 100dvh;
    background: linear-gradient(45deg, var(--light-main) 33%, var(--light-third));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 100vw;
}

.intro img {
    display: flex;
    height: 30vh;
    width: 30vh;
    border-radius: 100%;
    margin-bottom: 50px;
    border: 3px solid var(--light-fourth);
    margin: 5vh auto;
}

.intro h1 {
    color: var(--light-text-secondary);
    text-align: center;
    margin: 5vh auto;
}

.intro h1 span {
    display: inline-block;
    width: 100vw;
    border: none;
  }

.intro-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.intro-buttons button{
    border-color: transparent;
    height: 50px;
    width: 200px;
    background-color: var(--light-text-secondary);
    border-radius: 30px;
    color: #fff;
    margin-bottom: 3vh;
    margin-top: 3vh;
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(37, 30, 37);
}


.skills {
    text-align: center;
    color: #fff;
    background-color: var(--light-fourth);
    font-size: 22px;  
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0;
}

.skills h2 {
    font-family: 'Luckiest Guy', sans-serif;
    width: 100vw;
}

.main-center {
    height: 40vh;
    background: linear-gradient(45deg, var(--light-third), var(--light-main) 33%);
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    max-width: 100vw;
    box-shadow: 0 0 10px rgba(37, 30, 37);
    align-items: center;
}

.main-center img { 
    display: inline-flex;
    height: 100px;
    width: 80px;
    max-width: 100vw;
    padding: 15px 10px;
    justify-content: center;
    align-items: center;
    
}

.about-me {
    text-align: center;
    color: #fff;
    background-color: var(--light-secondary);
    font-size: 22px;  
    height: 50vh;
    width: 100vw;
    display: flex;
    margin: 0 auto;

}

.about-me h2 {
    font-family: 'Luckiest Guy', sans-serif;
    width: 100vw;
    background-color: var(--light-fourth);    
    padding: 10px 0;
    height: 100%;
    display: flex;    
    align-items: center;
    justify-content: center;
}

.about-me p {
    font-size: 16px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    color: var(--light-text-secondary);
    font-weight: 700;
    margin: auto auto;

}
.hidden {
    opacity: 0;
    width: 0vw;

}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none !important;
    color: #fff;
}
a:active {
    text-decoration: none !important;
    color: #fff;
}



.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--light-main);
}

.projects h2 {
    font-size: 32px;
    margin-bottom: 5vh;
    font-family: 'Luckiest Guy', sans-serif;
    background-color: var(--light-fourth);
    width: 100vw;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    
}

.container {
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    
}


.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    margin-bottom: 15vh;
    border: 3px solid var(--dark-text);
    box-shadow: 0 0 10px rgba(37, 30, 37);
    width: relative;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 10px;
    left: 15px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;

}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
    background-color: #000000;
    width: relative;
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 20px;
}

.panel p {
    position: absolute;
    bottom: 50px;
    left: 10px;
    background: rgba(0, 0, 0, 0.75);
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding-left: 10px;
    opacity: 0;
}
.panel .live{
    position: absolute;
    bottom: 10px;
    left: 30%;
    background: var(--dark-text);
    width: relative;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    opacity: 0;

}

.panel .source{
    position: absolute;
    bottom: 10px;
    left: 40%;
    background: var(--dark-text);
    width: relative;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    opacity: 0;

}

.panel.active .source {
    
    opacity: 1;

}
.panel.active .live {
    
    opacity: 1;

}
.panel.active p {
    
    opacity: 1;

}

.contact-form h2{
    box-shadow: 0 0 10px rgba(37, 30, 37);
}

.contact-form {
    padding-bottom: 10vh;
    background-color: var(--light-fourth);
}

.contact-form input {
    width: 90vw;
    height: 35px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-end;
    align-items: center;
    border-radius: 30px;
    border: 1px solid var(--light-secondary);
    padding-left: 10px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(37, 30, 37);
}

input[type="submit"] {
    text-align: center;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-main);
    font-weight: 700;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(37, 30, 37);
}

textarea {
    width: 90vw;
    display: flex;
    font-weight: 700;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid var(--dark-text);
    border-radius: 30px;
    padding-left: 10px;
    padding-top: 10px;
    height: 75px;
    box-shadow: 0 0 10px rgba(37, 30, 37);

}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background:rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: var(--dark-text);
    border-radius: 30px;
}