@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    --light-main: #F6F1F1;
    --light-secondary: #19A7CE;
    --light-third: #146C94;
    --light-fourth: #000000;
    --light-text-main: #F6F1F1;
    --light-text-secondary: #000000;

    --dark-main: #2C3333;
    --dark-secondary: #2E4F4F;
    --dark-third: #0E8388;
    --dark-fourth: #0e8388;
    --dark-text-main: #F6F1F1;
    --dark-text-secondary: #000000;
  }

@media (min-width: 300px) and (max-width: 1000px) {

    .skills-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
    }

    .about-me {
        display: block;
    }
    
    .nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: var(--light-fourth);
        border-bottom: 0px solid var(--light-secondary);
        border-top: 3px solid var(--light-secondary);
        z-index: 1;
    }

   .wrapper > h3 {
    top: 0;
    height: 25px;
    width: 100%;
    text-align: center;
   }

   .wrapper > p{
    background: #000000 !important ;
    font-size: 16px;
    min-height: 25%;
    margin: 30px 0;
   }

    .panel:nth-of-type(4) {
        display: none;
    }
    .panel:nth-of-type(5) {
        display: none;
    }

    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    max-width: 100vw;
    overflow-x: hidden;
}




.nav {
    background: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    max-width: 100vw;
    z-index: 1;
}

.nav .center button {
    color: #ffffff;
    font-size: 28px;
    background: none;
    outline: none;
    border: none;
    padding: 10px 20px;
}

.nav .center button:hover {
    opacity: 0.25;
    color: var(--dark-text);
    font-size: 26px;
    content: attr(data-button);
}


.hero {
    height: 100dvh;
    background: linear-gradient(45deg, var(--light-main) 33%, var(--light-third));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    max-width: 100vw;
}

.intro img {
    display: flex;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    margin-bottom: 50px;
    border: 3px solid var(--light-fourth);
    margin: 5vh auto;
}

.intro h1 {
    font-size: 3rem;
    text-align: center;
}

.alt{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;    
}

.intro h1 span {
    font-size: 3rem;
    color: #00628d;
}

.intro-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.intro-buttons button{
    border-color: transparent;
    height: 50px;
    width: 200px;
    background-color: var(--light-text-secondary);
    border-radius: 30px;
    color: #fff;
    margin-bottom: 3vh;
    margin-top: 3vh;
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(37, 30, 37);
}


.skills  h2 {

    font-family: 'Luckiest Guy', sans-serif;
    width: 100vw;
    text-align: center;
    color: #fff;
    background-color: var(--light-fourth);
    font-size: 22px;  
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0;
}


.main-center {
    width: 100vw;
    background: linear-gradient(45deg, var(--light-third), var(--light-main) 33%);
    display: flex;
    justify-content: center;
    align-items: center;   
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;
    margin: 20px 0;
}

.main-center > .skills-container > img {
    height: 100px;
    width: 100px;
}


.about-me {
    text-align: center;
    color: #fff;
    background-color: var(--light-secondary);
    font-size: 22px;
    min-height: 50vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr;
    margin: 0 auto;
    gap: 15px;
}

.about-me h2 {
    font-family: 'Luckiest Guy', sans-serif;
    width: 100vw;
    background-color: var(--light-fourth);    
    padding: 10px 0;
    height: 100%;
    display: flex;    
    align-items: center;
    justify-content: center;
}

.about-me p {
    font-size: 16px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    color: var(--light-text-secondary);
    font-weight: 700;
}

.hidden {
    opacity: 0;
    width: 0vw;
}

a {
    text-decoration: none;
    color: #fff;
}

a:visited {
    text-decoration: none !important;
    color: #fff;
}

a:active {
    text-decoration: none !important;
    color: #fff;
}



.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--light-main);
}

.projects h2 {
    font-size: 32px;
    margin-bottom: 7vh;
    font-family: 'Luckiest Guy', sans-serif;
    background-color: var(--light-fourth);
    width: 100vw;
    padding: 10px 0;
    color: #fff;
    text-align: center;   
}

.container {
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    margin-bottom: 15vh;
    border: 3px solid var(--dark-text);
    box-shadow: 0 0 10px rgba(37, 30, 37);
    width: relative;
}
.panel h3 {
    opacity: 0;
}

.panel.active h3 {
    opacity: 1;
}

.panel p {
    opacity: 0;
}

.panel.active p {
    opacity: 1;
}

.panel button {
    opacity: 0;
}

.panel.active button{
    opacity: 1;
}

.panel.active {
    flex: 5;
    opacity: 1;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.wrapper > p {
    grid-column: span 3;
    position: absolute;
    bottom: 50px;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 1);
    flex-grow: 1;
    flex-shrink: 1;

}

.wrapper > h3 {
    position: absolute;
    bottom: 120px;
    grid-column: span 3;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 1);
    
    flex-grow: 1;
    flex-shrink: 1;

}

.wrapper > .source{
    
    grid-column: span 1.5;
    position: absolute;
    bottom: 10px;
    width: 50%;
    background-color: #146C94;
    color: #fff;
    font-weight: bold;
    padding: 5px 0;  
    
    flex-grow: 1;
    flex-shrink: 1;
}

.wrapper > .live{
    
    grid-column: span 1.5;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 50%;
    padding: 5px 0;    
    background-color: #146C94;
    color: #fff;
    font-weight: bold;
    
    flex-grow: 1;
    flex-shrink: 1;
}

.contact {
    padding-bottom: 10vh;
    background-color: var(--light-fourth);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact a {
    padding: 10px 0;
}

.contact a:hover {
    color: var(--light-secondary)
}

.contact span {
    font-weight: 900;
}

footer {
    background-color: var(--light-secondary);
    color: #000000;
    font-weight: 900;
    width: 100%;
    text-align: center;
}

textarea {
    width: 90vw;
    display: flex;
    font-weight: 700;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid var(--dark-text);
    border-radius: 30px;
    padding-left: 10px;
    padding-top: 10px;
    height: 75px;
    box-shadow: 0 0 10px rgba(37, 30, 37);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background:rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: var(--dark-text);
    border-radius: 30px;
}